<form class="product-filter">
    <div class="selection-filter">
        <label>Device Type</label>
        <select  class="select">
          <option value="" selected>Select a type…</option>
          <option>...</option>
        </select>
    </div>
   
    <div class="selection-filter">
        <label>Brand</label>
        <select  class="select">
          <option value="" selected>Select a brand…</option>
          <option>...</option>
        </select>
    </div>

    <div class="selection-filter">
        <label>Model</label>
        <select  class="select">
          <option value="" selected>Select a model…</option>
          <option>...</option>
        </select>
    </div>
    <div class="selection-filter">
        <label>Price
          <input type="range" min="0" max="100" value="50" id="range" name="range">
        </label>
    </div>
    <div class="selection-filter">
        <label for="date">Date
            <input type="date" class="select" name="date">
          </label>
    </div>
</form>