
<app-navbar></app-navbar>
<main>
    <span id="title">B2<span class="initial">B</span> <br /> IDEA</span>
    <p class="title-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <div class="header-btn">
        <button class="btn">Start</button>
        <button class="btn">More</button>
    </div>
</main>
<app-aspectscores></app-aspectscores>
<app-filter></app-filter>
<div class="grid">
    <div class="box">
        
        <h2>Product Selected</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex veniam qui aperiam! Repudiandae alias nobis adipisci molestias. Quas, recusandae reprehenderit. Eius ullam ex placeat provident unde laudantium adipisci voluptatem sed!</p>
        <details open>
            <summary>Product Details</summary>
            <ul>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam nulla placeat atque nesciunt cum? Fugit similique odio, quo laborum deserunt voluptas rerum perspiciatis vel exercitationem dolorum facere sapiente ullam hic.</li>
            </ul>
          </details>
    </div>
    <div class="box">
        <img src="https://images.unsplash.com/photo-1517142089942-ba376ce32a2e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
    </div>
</div>
<div class="grid">
    <div class="box">
        <h2>Product comparision with competitors</h2>
        <p>Stat 1%</p>
        <progress value="20" max="100" class="bar"></progress>
        <p>Stat 2%</p>
        <progress value="90" max="100" class="bar"></progress>
        <p>Stat 3%</p>
        <progress value="50" max="100" class="bar"></progress>
    </div>
</div>
<app-footer></app-footer>